$fontBasic: 'Poppins', sans-serif;
$bodyMovil: normal 500 0.75rem/0.9rem $fontBasic;
$bodyDesktop: normal 500 1.0625rem/1.275rem $fontBasic;
$background: rgba(67, 221, 230, 1);
$colorLetters: rgba(237, 245, 252, 1);
$colorBar: #237cce;
